<div class="left">
  <%= hook :distribution_index_content do %>
    <%= render 'hooks/distribution_static_content' %>
  <% end %>
</div>
<div class="right">
  <div class="left">  
    <%= hook :distribution_index_signup do %>
      <h3><%= t('distribution_apply') %></h3>
      <p>Our application will take you fewer than five minutes, after which we will contact you as soon as possible. All of your personal information is confidential,
        and will not be sold or transitted to any other party. Once your account is activated, you will be able to purchase items at our wholesaler's discount.'</p>
      <%= link_to 'Apply Now!', new_distributor_path, :class => 'button' %>
    <% end %>  
  </div>
  <div class="right">  
    <%= hook :distribution_index_login do %>
      <h3><%= t('distribution_login') %></h3>
      
      <% if !@user.distributor? %>
        <%= render 'shared/login' %>
      <% end %>
      
      <% if @user.distributor? %>
        <%= render 'shared/logged_in'%>
      <% end %>
    <% end %>
  </div>
</div>
 
